<p id="notice"><%= notice %></p>
<% cache(@post) do %>
<% debugger %>
<div class="row">
  <div class='col-md-12'>
    <h2><%= @post.title %></h2>
    <br>
    <br>
    <p>
      <%= @post.content %>
    </p>

    <br>
    <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-default btn-xs' %>
    <%= link_to 'Back', posts_path, class: 'btn btn-primary btn-xs' %>
  </div>
</div>
<div class="row">
  <div class='col-md-6'>
    <h3>Add a comment:</h2>
    <%= form_for([@post, @post.comments.build]) do |f| %>
      <div class="field form-group">
        <%= f.label :commenter %><br />
        <%= f.text_field :commenter, class: 'form-control' %>
      </div>
      <div class="field form-group">
        <%= f.label :body %><br />
        <%= f.text_area :body, class: 'form-control' %>
      </div>
      <div class="actions from-group">
        <%= f.submit 'Comment', class: 'form-control btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <h3>Comments(<%= @post.comments.size %>)</h3>
    <%= render partial: 'comment', collection: @post.comments %>
  </div>
</div>
<% end %>

